@using KLabs.Business.Constants.Statics
@using KLabs.Entities.Enums
@model List<KLabs.Entities.ComplexTypes.Service.HomePageServiceModel>
@{
    ViewData["Title"] = "Anasayfa";
}

@section Navigator{ 
    <!--============ Infotechno Hero Start ============-->
    <div class="processing-hero processing-hero-bg">
        <div class="container">
            <div class="row align-items-center">
                <!--baseline-->
                <div class="col-lg-8 col-md-7">
                    <div class="processing-hero-text wow move-up">
                        <h6>K Labs Teknoloji </h6>
                        <h1 class="font-weight--reguler mb-15">
                            İşinizi Hafifletecek
                            <span class="text-color-secondary">
                                Çözümler
                            </span>
                        </h1>
                        <p>
                            İş süreçlerinizi kolaylaştıracak çözümler bir tık uzağınızda.
                        </p>
                        <div class="hero-button mt-30">
                            <a href="#" class="btn btn--secondary">
                                İletişim
                            </a>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="processing-hero-images-wrap wow move-up">
                        <div class="processing-hero-images">
                            <img class="img-fluid" src="assets/images/hero/first.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--============ Infotechno Hero End ============-->
}
<!--====================  Accordion area ====================-->
<div class="accordion-wrapper section-space--ptb_100">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="faq-wrapper faq-custom-col">

                    <div class="section-title section-space--mb_40">
                        <h6 class="section-sub-title mb-20">Biz Kimiz ?</h6>
                        <h3 class="heading">
                            İşinizi
                            <span class="text-color-primary">
                                hafifleten
                            </span>
                            çözümler üretiyoruz.
                        </h3>

                    </div>

                    <div id="accordion">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Size Nasıl Yardımcı Olabiliriz ?
                                        <span>
                                            <i class="fas fa-chevron-down"></i>
                                            <i class="fas fa-chevron-up"></i>
                                        </span>
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseOne" class="show" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body">
                                    <p>
                                        Zaman ve iş gücü tasarrufunuzu arttırmak için ihtiyaçlarınız doğrultusunda size uygun çözümler sunuyoruz.

                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h5 class="mb-0">
                                    <button class="btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Neden K Labs ?
                                        <span>
                                            <i class="fas fa-chevron-down"></i>
                                            <i class="fas fa-chevron-up"></i>
                                        </span>
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                <div class="card-body">
                                    <p>
                                        Web, Mobil, Makine ögrenimi, Yapay zeka ve daha birçok alanda profesyonel çözümler üretiyoruz.
                                    </p>
                                </div>
                            </div>
                        </div>
                
                    </div>

                </div>
            </div>

            <div class="col-lg-6">
                <div class="rv-video-section">

                    <div class="ht-banner-01 ">
                        <img class="img-fluid border-radus-5 animation_images one wow fadeInDown" src="assets/images/banners/top-left.png" alt="">
                    </div>

                    <div class="ht-banner-02">
                        <img class="img-fluid border-radus-5 animation_images two wow fadeInDown" src="assets/images/banners/top-right.png" alt="">
                    </div>

                    <div class="main-video-box">
                        <div class="single-popup-wrap">
                            <img class="img-fluid border-radus-5" src="assets/images/banners/center.png" alt="">

                        </div>
                    </div>


                    <div class="ht-banner-03">
                        <img class="img-fluid border-radus-5 animation_images three wow fadeInDown" src="assets/images/banners/bottom-left.png" alt="">
                    </div>

                    <div class="ht-banner-04">
                        <img class="img-fluid border-radus-5 animation_images four wow fadeInDown" src="assets/images/banners/bottom-right.png" alt="">
                    </div>


                </div>
            </div>



        </div>
    </div>
</div>
<!--====================  Accordion area  ====================-->
<!--===========  feature-images-wrapper  Start =============-->
<div class="feature-images-wrapper bg-gray section-space--ptb_100">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <!-- section-title-wrap Start -->
                <div class="section-title-wrap text-center section-space--mb_10">
                    <h6 class="section-sub-title mb-20">
                        Hizmetlerimiz
                    </h6>
                    <h3 class="heading">
                        Sizin için neler
                        <span class="text-color-primary">yapabiliriz ?</span>
                    </h3>
                </div>
                <!-- section-title-wrap Start -->
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="feature-images__two small-mt__10">
                    <div class="modern-grid-image-box row row--30">
                        @foreach (var service in Model)
                        {
                            
                            <div class="single-item wow move-up col-lg-6 col-md-6 section-space--mt_60  small-mt__40">
                                <!-- ht-box-icon Start -->
                                <a href="#" class="ht-box-images style-02">
                                    <div class="image-box-wrap">
                                        <div class="box-image">
                                            <img class="img-fulid" src="@service.ImagePath" alt="Klabs Teknoloji @service.Name">
                                        </div>
                                        <div class="content">
                                            <h6 class="heading">
                                                @service.Name
                                            </h6>
                                        </div>
                                    </div>
                                </a>
                                <!-- ht-box-icon End -->
                            </div>
                        }

                    </div>
                </div>

                <div class="section-under-heading text-center section-space--mt_60">
                    İşinizi birlikte büyütelim.
                </div>

            </div>
        </div>
    </div>
</div>
<!--===========  feature-images-wrapper  End =============-->
<!--===========  feature-large-images-wrapper  Start =============-->
<div class="feature-large-images-wrapper section-space--ptb_100">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <!-- section-title-wrap Start -->
                <div class="section-title-wrap text-center section-space--mb_30">
                    <h6 class="section-sub-title mb-20">
                        Çözümlerimiz
                    </h6>
                    <h3 class="heading">
                    </h3>
                </div>
                <!-- section-title-wrap Start -->
            </div>
        </div>
        
        <div id="load-solutions">

        </div>
        <div class="col-lg-12">
            <div class="feature-list-button-box mt-40 text-center">
                <a class="ht-btn ht-btn-md" id="load-more" onclick="loadMore()">Devamını Gör</a>
                <a asp-controller="AboutUs" asp-action="ContactUs" id="demo-btn" class="ht-btn ht-btn-md ht-btn--outline">Demo Talebi</a>
            </div>
        </div>
        
    </div>
</div>
<!--===========  feature-large-images-wrapper  End =============-->

<!--====================  brand logo slider area ====================-->
<div class="brand-logo-slider-area section-space--ptb_60">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- brand logo slider -->
                <div class="brand-logo-slider__container-area">
                    <div class="swiper-container brand-logo-slider__container">
                        <div class="swiper-wrapper brand-logo-slider__one">
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--====================  End of brand logo slider area  ====================-->
<!--====================  Conact us Section Start ====================-->
<div class="contact-us-section-wrappaer processing-contact-us-bg section-space--ptb_120">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-lg-6">
                <div class="conact-us-wrap-one">
                    <h3 class="heading text-white">
                        Ekibimizle iletişime geçip daha fazla bilgi alabilirsiniz.
                    </h3>

                    <div class="sub-heading text-white">
                        09:00 - 18:00
                        <br />Saatleri arasında iletişime geçebilirsiniz.
                    </div>

                </div>
            </div>

            <div class="col-lg-3 col-lg-3">
                <div class="contact-info-two text-center">
                    <div class="icon">
                        <span class="fal fa-phone"></span>
                    </div>
                    <h6 class="heading font-weight--reguler">Şimdi Arayın !</h6>
                    <h6 class="call-us"><a href="tel:@StaticMember.AboutUs.PhoneNumber">@StaticMember.AboutUs.PhoneNumber</a></h6>
                    <div class="contact-us-button mt-20">
                        <a href="tel:@StaticMember.AboutUs.PhoneNumber" class="btn btn--secondary">Ara</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-lg-3">
                <div class="contact-info-two text-center">
                    <div class="icon">
                        <span class="fa fa-envelope"></span>
                    </div>
                    <h6 class="heading font-weight--reguler">Mail Gönderin !</h6>
                    <h6 class="call-us"><a href="mailto:@StaticMember.AboutUs.MailAddress">@StaticMember.AboutUs.MailAddress"</a></h6>
                    <div class="contact-us-button mt-20">
                        <a href="mailto:@StaticMember.AboutUs.MailAddress" class="btn btn--secondary">Mail Gönder</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--====================  Conact us Section End  ====================-->
@section scripts{
    <script type="text/javascript">
        var solutionCount = '@StaticMember.MenuModels.Count(s=>s.MenuType==MenuType.Solution)';
    </script>
    <script src="~/js/Home/home.js"></script>
}