@model KLabs.Entities.Concrete.Reference
@{
    ViewData["Title"] = "Referans Düzenle";
}



<div class="kt-portlet">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
                @Model.Name Referansını Düzenle
            </h3>
        </div>
    </div>
    <div class="kt-portlet__body">

        <!--begin::Form-->
        <form class="kt-form" method="post" asp-area="Panel" asp-controller="Reference" asp-action="UpdateReference">
            <div class="kt-portlet__body">
                <div class="kt-section kt-section--first">
                    <div class="form-group">
                        @Html.HiddenFor(s => s.Id)
                        @Html.LabelFor(s => s.Name, "Referans Adı")
                        @Html.TextBoxFor(s => s.Name, new { @class = "form-control", placeholder = "Referans Adını Girin." })
                        @Html.ValidationMessageFor(s => s.Name)
                    </div>
                    <div class="form-group">
                        @Html.HiddenFor(s => s.CreationDate, new { value = DateTime.Now })
                        @Html.LabelFor(s => s.Description, "Açıklama")
                        @Html.TextAreaFor(s => s.Description, new { @class = "form-control", placeholder = "Açıklama Girin", rows = "5" })
                        @Html.ValidationMessageFor(s => s.Description)
                    </div>
                </div>
            </div>
            <div class="kt-portlet__foot">
                <div class="kt-form__actions">
                    <button type="submit" class="btn btn-primary width-100">Kaydet</button>
                </div>
            </div>
        </form>

        <!--end::Form-->

    </div>
</div>